/* Card.css */
.card-container {
  width: 240px;
  height: 294px;
  perspective: 1000px;
}

@keyframes autoFlip {
  0%, 15% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  40%, 60% {
    transform: rotateY(180deg) rotateZ(180deg);
  }
  85%, 100% {
    transform: rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes slowGlow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.20; /* Başlangıç şeffaflığı */
  }
  50% {
    transform: scale(1.2); /* %20 oranında büyür */
    opacity: 0.40; /* Biraz daha belirginleşir */
  }
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(5deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.floating-icon {
  position: absolute;
  animation: float 6s ease-in-out infinite;
  opacity: 0.3; /* Çok baskın olmaması için şeffaf tutuyoruz */
  z-index: 5;
  color: #FF6B35; /* Senin turuncu tonun */
}

.custom-glow {
  /* 8s (8 saniye) yaparak çok yavaş ve akıcı bir geçiş sağlıyoruz */
  animation: slowGlow 6s ease-in-out infinite;
}

.card-inner {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 2rem;
  animation: autoFlip 6s infinite ease-in-out;
}


.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  color: white;
  background: linear-gradient(-135deg, #FF6B35, #6B0F1A);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.back {
  transform: rotateY(180deg) rotateZ(180deg);
}

.back .lottie-container {
transform: rotateZ(-180deg);
}
.heading {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}